.game-field {
    margin: 50px;
    width: 40%;
    height: 40%;
    text-align: center;
}

.edge {

    &.hover:hover {
        stroke: rgba(0,0,0,.5);
    }

}

.app-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.scores-bar {

    .p1 {
        color: #ed2f2f;
    }

    .p2 {
        color: #2fed68;
    }
}

