@import "gamefield";

.results {
  @extend .game-field;

  h1 {
      font-size: 3em;
  }

  button {
      cursor: pointer;
      border: 2px solid rgb(255,0,0);
      background-color: rgba(255,0,0,.5);
      font-size: 2rem;
      padding: 10px;
      margin-top: 20px;
      transition: ease-out transform 0.3s;
      animation: pulse 1s infinite;

      &:hover {
          animation: none;
          transform: scale(1.2);
          outline: none;
      }
  }

}